process.container = 'friederici/memstress:1.0'
docker.enabled = true
trace.enabled = true

process {
   executor = 'k8s'
}

k8s {
  namespace = 'workflows'
  serviceAccount = 'sauser'
  storageClaimName = 'workflows-pvc'
  storageMountPath = '/workflows'
  scheduler {
    name = 'workflow-scheduler'
  }
}

plugins {
  id 'nf-cws@1.0.4'
}

cws {
    strategy = 'rank_max-fair'
    costFunction = 'MinSize'
    batchSize = 1
}
