docker.enabled = true
trace.enabled = true

params {
  max_cpus = 3
  max_memory = 50.GB
}

process {
  executor = 'k8s'
}

k8s {
  namespace = 'workflows'
  serviceAccount = 'sauser'
  workDir = '/nfs/data/work/'
  projectDir = '/nfs/data/project/'
  imagePullPolicy = 'IfNotPresent'
  launchDir = '/nfs/data/launch/'
  runAsUser = 0
  fetchNodeName = true
  storageClaimName = 'nfs-hostpath-pvc'
  storageMountPath = '/nfs'
  scheduler {
    name = 'workflow-scheduler'
  }
}

plugins {
  id 'nf-cws@1.0.4'
}

cws {
  strategy = 'rank_max-fair'
  costFunction = 'MinSize'
  batchSize = 1
}

params {
  input = '/nfs/input/rnaseq/samplesheet_test.csv'
  // Genome references
  fasta              = '/nfs/input/rnaseq/reference/genome.fasta'
  gtf                = '/nfs/input/rnaseq/reference/genes.gtf.gz'
  gff                = '/nfs/input/rnaseq/reference/genes.gff.gz'
  transcript_fasta   = '/nfs/input/rnaseq/reference/transcriptome.fasta'
  additional_fasta   = '/nfs/input/rnaseq/reference/gfp.fa.gz'
  bbsplit_fasta_list = '/nfs/input/rnaseq/reference/bbsplit_fasta_list.txt'
  hisat2_index       = '/nfs/input/rnaseq/reference/hisat2.tar.gz'
  salmon_index       = '/nfs/input/rnaseq/reference/salmon.tar.gz'
  rsem_index         = '/nfs/input/rnaseq/reference/rsem.tar.gz'
}
