docker.enabled = true
trace.enabled = true

params {
  max_cpus = 3
  max_memory = 50.GB
}

process {
  executor = 'k8s'
}

k8s {
  namespace = 'workflows'
  serviceAccount = 'sauser'
  workDir = '/nfs/data/work/'
  projectDir = '/nfs/data/project/'
  imagePullPolicy = 'IfNotPresent'
  launchDir = '/nfs/data/launch/'
  runAsUser = 32223
  fetchNodeName = true
  storageClaimName = 'nfs-hostpath-pvc'
  storageMountPath = '/nfs'
  scheduler {
    name = 'workflow-scheduler'
  }
}

plugins {
  id 'nf-cws@1.0.4'
}

cws {
  strategy = 'rank_max-fair'
  costFunction = 'MinSize'
  batchSize = 10
}

params {
  input = '/nfs/input/viralrecon/input.csv'
  kraken2_db = '/nfs/input/viralrecon/reference/kraken2_hs22.tar.gz'
  fasta = '/nfs/input/viralrecon/reference/nCoV-2019.reference.fasta'
  gff = '/nfs/input/viralrecon/reference/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
  primer_bed = '/nfs/input/viralrecon/reference/nCoV-2019.primer.bed'
  nextclade_dataset = '/nfs/input/viralrecon/reference/nextclade_sars-cov-2_MN908947_2022-06-14T12_00_00Z.tar.gz'
}
